{% extends "header.html" %}


{% block content %}


<div class="majordiv">

<h2>Use blastn search to identify taxonomy of target nucleotide sequences</h2>
<h5>Upload a single <b>ZIP</b> file with your sequences, select databases you want to search and click <button class="btn btn-primary">start search</button></h5>




<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    
    <br>
    <input type="checkbox" name="database" value="Ezbio" checked> <a href="http://help.bioiplug.com/about-ezbiocloud-net/" target="_blank">Ezbio</a>： 基因组已知的物种的16s序列<br>
    <input type="checkbox" name="database" value="SILVA"> <a href="https://www.arb-silva.de/documentation/" target="_blank">SILVA</a>： 所有已知高质量的16s序列<br>
    <input type="checkbox" name="database" value="fungi"> <a href="https://unite.ut.ee/repository.php" target="_blank">fungi</a>： 专门的真菌ITS数据库<br>
    <input type="checkbox" name="database" value="nt_micro"> <a href="https://blast.ncbi.nlm.nih.gov/Blast.cgi" target="_blank">nt_micro</a>： ncbi nt去掉动植物序列<br>
    
    <button type="submit" class="btn btn-primary">start search</button>
</form>

{% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}


{% include "blastntaxa/include/instruction.html" %} 


</div>
   


{% endblock %}
