{% extends "header.html" %}


{% block content %}

 {% load staticfiles %} 
<link rel="stylesheet" href="{% static 'css/dropzone.min.css' %}" type="text/css"/>
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

<div class="majordiv">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <textarea id="seq" rows="5" style="width: 100%; background-color:azure" name="sequences"></textarea>

    <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>query</th>
      <th>subject</th>
      <th>qcover</th>
      <th>identity</th>
      <th>taxID</th>
      <th>species</th>
      <th>genus</th>
      <th>family</th>
      <th>order</th>
      <th>class</th>
      <th>phylum</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>test</td>
      <td>85824</td>
      <td>100</td>
      <td>99.925</td>
      <td>28026</td>
      <td>Bifidobacterium pseudocatenulatum</td>
      <td>Bifidobacterium</td>
      <td>Bifidobacteriaceae</td>
      <td>Bifidobacteriales</td>
      <td>Actinobacteria</td>
      <td>Actinobacteria</td>
    </tr>
  </tbody>
</table>

    <button type="submit" class="btn btn-primary" id="submit_run" onclick="myFunction()">开始比对align</button>
</form>

<div class="upload-btn-wrapper">
  <button class="btn">Upload a file</button>
  <input type="file" name="myfile" />
</div>


<br><br>



<style>
    .dataframe, .dataframe th, .dataframe td {
        font-size: 0.8rem;
        border-collapse: collapse;
        border:1px solid cyan;
        text-align: center;
    }
</style>



</div>
   


{% endblock %}
