{% block content %}
<br>
<p>Tips/Notes</p>
<ul>
    <li>it is a zip file! not <b>rar</b>! </li>
    <li>For filename, only include letters and numbers, no Chinese characters! </li>
    <li>所有文件，文件名中不要包含中文。文件名只包含英文字母、数字和下划线，例如"20180508HFY_1.zip"。其中'.zip'是文件扩展名。</li>
    <li>序列文件的扩展名必须是".seq"或者".SEQ"</li>
    <li>序列不要有重名</li>
    <li>如何查看文件扩展名：Windows 10文件浏览器中，点击"查看"，点击选择"显示文件扩展名"。</li>
    <li>如何理解各个数据库和输出结果：<a href="/helps/1"  target="_blank">点击这里</a></li>
    <li>可以下载免费的<a href="https://www.7-zip.org/"  target="_blank">7-zip</a>压缩软件，建议安装。</li>
    <li><a href="https://notepad-plus-plus.org/download/" target="_blank">Notepad++</a>是一个非常实用的打开各种文本格式文件的软件，强烈建议安装。</li>
    <li>如果选择了错误的database或者没有blast的结果，程序可能会出错。</li>
</ul>

{% endblock %}